--prefer-binary

numpy<2.0
chromadb==0.4.24
fastapi
uvicorn[standard]
python-multipart
supabase
sentence-transformers
tokenizers==0.15.2
transformers==4.37.2
groq
langchain
langchain-community
langchain-text-splitters
pypdf==4.1.0
pdfplumber==0.10.3
python-docx
python-jose[cryptography]
cachetools
pydantic
pydantic-settings
python-dotenv
structlog
httpx
