--prefer-binary

fastapi
uvicorn[standard]
python-multipart
supabase
chromadb==0.4.24
sentence-transformers
groq
langchain
langchain-community
pypdf==4.1.0
pdfplumber==0.10.3
python-docx
python-jose[cryptography]
cachetools
pydantic
pydantic-settings
python-dotenv
structlog
httpx
